<% provide(:title, 'Home') %>

<h1>Sample App</h1>
<p>This is the hopme page for the rails tutorial sample application</p>

<div class="center hero-unit">
	<h2>New users</h2>

	<%= link_to "Sign up now", signup_path, class: "btn btn-larg btn-primary" %>
</div>



